CNF_version = 1
Debug_Screen = 0
FastBoot = 0
ESR_Path_E1 = mc?:/BOOT/ESR.ELF
ESR_Path_E2 = mass:/BOOT/ESR.ELF
ESR_Path_E3 = mc?:/APP_ESR/ESR.ELF
pad_delay = 0
LK_Auto_E1 = OSDSYS
LK_Auto_E2 = OSDSYS
LK_Auto_E3 = OSDSYS
LK_Circle_E1 = OSDSYS
LK_Circle_E2 = OSDSYS
LK_Circle_E3 = OSDSYS
LK_Cross_E1 = mc?:/APP_OPL/OPL.ELF
LK_Cross_E2 = mc?:/APPS/OPNPS2LD.ELF
LK_Cross_E3 = mc?:/OPL/OPNPS2LD.ELF
LK_Square_E1 = mc?:/APP_GSM/GSM.ELF
LK_Square_E2 = mass:/APPS/APP_GSM/GSM.ELF
LK_Square_E3 = OSDSYS
LK_Triangle_E1 = mc?:/SYS_MCA/MCA.ELF
LK_Triangle_E2 = OSDSYS
LK_Triangle_E3 = OSDSYS
LK_L1_E1 = mc?:/BOOT/ESR.ELF
LK_L1_E2 = mc?:/DSC_ESR/ESR.ELF
LK_L1_E3 = FASTBOOT
LK_R1_E1 = mc?:/BOOT/BOOT.ELF
LK_R1_E2 = OSDSYS
LK_R1_E3 = OSDSYS
LK_L2_E1 = OSDSYS
LK_L2_E2 = OSDSYS
LK_L2_E3 = OSDSYS
LK_R2_E1 = OSDSYS
LK_R2_E2 = OSDSYS
LK_R2_E3 = OSDSYS
LK_L3_E1 = OSDSYS
LK_L3_E2 = OSDSYS
LK_L3_E3 = OSDSYS
LK_R3_E1 = OSDSYS
LK_R3_E2 = OSDSYS
LK_R3_E3 = OSDSYS
LK_Up_E1 = OSDSYS
LK_Up_E2 = OSDSYS
LK_Up_E3 = OSDSYS
LK_Down_E1 = OSDSYS
LK_Down_E2 = OSDSYS
LK_Down_E3 = OSDSYS
LK_Left_E1 = OSDSYS
LK_Left_E2 = OSDSYS
LK_Left_E3 = OSDSYS
LK_Right_E1 = OSDSYS
LK_Right_E2 = OSDSYS
LK_Right_E3 = OSDSYS
LK_Start_E1 = mass:/RESCUE.ELF
LK_Start_E2 = OSDSYS
LK_Start_E3 = OSDSYS
LK_Select_E1 = mc?:/SYS_FMCBCFG/FMCBCFG.ELF
LK_Select_E2 = mc?:/SYS-CONF/FMCB_CFG.ELF
LK_Select_E3 = mc?:/BOOT/BOOT.ELF
hacked_OSDSYS = 1
OSDSYS_video_mode = AUTO
OSDSYS_Skip_Disc = 1
OSDSYS_Skip_Logo = 0
OSDSYS_Inner_Browser = 0
OSDSYS_selected_color = 0x10,0x80,0xE0,0x80
OSDSYS_unselected_color = 0x33,0x33,0x33,0x80
OSDSYS_scroll_menu = 1
OSDSYS_menu_x = 432
OSDSYS_menu_y = 110
OSDSYS_enter_x = 30
OSDSYS_enter_y = -1
OSDSYS_version_x = -1
OSDSYS_version_y = -1
OSDSYS_cursor_max_velocity = 1500
OSDSYS_cursor_acceleration = 150
OSDSYS_left_cursor = 
OSDSYS_right_cursor = 
OSDSYS_menu_top_delimiter = 
OSDSYS_menu_bottom_delimiter = 
OSDSYS_num_displayed_items = 5
OSDSYS_Skip_MC = 1
OSDSYS_Skip_HDD = 1
name_OSDSYS_ITEM_1 = Launch Disc
path1_OSDSYS_ITEM_1 = FASTBOOT
name_OSDSYS_ITEM_2 = FreeMCBoot Configurator
path1_OSDSYS_ITEM_2 = mc?:/SYS-CONF/FMCB_CFG.ELF
path2_OSDSYS_ITEM_2 = mc?:/SYS_FMCBCFG/FMCBCFG.ELF
path3_OSDSYS_ITEM_2 = mass:/APPS/SYS_FMCBCFG/FMCBCFG.ELF
name_OSDSYS_ITEM_3 = Picodrive Sega Emulator 201
path1_OSDSYS_ITEM_3 = mc?:/EMU_PICODRIVE-200/PICODRIVE-201.ELF
path2_OSDSYS_ITEM_3 = mass:/APPS/EMU_PICODRIVE-200/PICODRIVE-201.ELF
name_OSDSYS_ITEM_4 = Apollo Save Tool
path1_OSDSYS_ITEM_4 = mc?:/APP_APOLLO/APOLLO.ELF
path2_OSDSYS_ITEM_4 = mass:/APPS/APP_APOLLO/APOLLO.ELF
name_OSDSYS_ITEM_5 = Argon XMB Media Player
path1_OSDSYS_ITEM_5 = mc?:/APP_ARGON/ARGON.ELF
path2_OSDSYS_ITEM_5 = mass:/APPS/APP_ARGON/ARGON.ELF
name_OSDSYS_ITEM_6 = 3D Pinball
path1_OSDSYS_ITEM_6 = mc?:/GME_3DPINBALL-PLAYER/3DPINBALL-PLAYER.ELF
path2_OSDSYS_ITEM_6 = mass:/APPS/3DPINBALL/3PINBALL.ELF
path3_OSDSYS_ITEM_6 = mass:/APPS/GME_3DPINBALL-PLAYER/3DPINBALL-PLAYER.ELF
name_OSDSYS_ITEM_7 = Launch ESR Patched Disc
path1_OSDSYS_ITEM_7 = mc?:/BOOT/ESR.ELF
path2_OSDSYS_ITEM_7 = mass:/APPS/DSC_ESR/ESR.ELF
path3_OSDSYS_ITEM_7 = mc?:/DSC_ESR/ESR.ELF
name_OSDSYS_ITEM_8 = ESR Patched Disc Dark GUI Launcher
path1_OSDSYS_ITEM_8 = mc?:/APP_ESRGUI-DARK/ESRGUI-DARK.ELF
path2_OSDSYS_ITEM_8 = mass:/APPS/APP_ESRGUI-DARK/ESRGUI-DARK.ELF
name_OSDSYS_ITEM_9 = ESR Patched Disc Light GUI Launcher
path1_OSDSYS_ITEM_9 = mc?:/APP_ESRGUI-LIGHT/ESRGUI-LIGHT.ELF
path2_OSDSYS_ITEM_9 = mass:/APPS/APP_ESRGUI-LIGHT/ESRGUI-LIGHT.ELF
name_OSDSYS_ITEM_10 = ESR Patched Disc XMAS GUI Launcher
path1_OSDSYS_ITEM_10 = mc?:/APP_ESRGUI-XMAS/ESRGUI-XMAS.ELF
path2_OSDSYS_ITEM_10 = mass:/APPS/APP_ESRGUI-XMAS/ESRGUI-XMAS.ELF
name_OSDSYS_ITEM_11 = FreeMCBoot Configurator
path1_OSDSYS_ITEM_11 = mc?:/APP_FMCB-CFG/FMCB-CFG.ELF
path2_OSDSYS_ITEM_11 = mass:/APPS/APP_FMCB-CFG/FMCB-CFG.ELF
path3_OSDSYS_ITEM_11 = mc?:/SYS-CONF/FMCB-CFG.ELF
name_OSDSYS_ITEM_12 = Graphics Mode Synthesizer (GSM)
path1_OSDSYS_ITEM_12 = mc?:/APP_GSM/GSM.ELF
path2_OSDSYS_ITEM_12 = mass:/APPS/APP_GSM/GSM.ELF
name_OSDSYS_ITEM_13 = Memory Card Annihilator (MCA)
path1_OSDSYS_ITEM_13 = mc?:/APP_MCA/MCA.ELF
path2_OSDSYS_ITEM_13 = mass:/APPS/APP_MCA/MCA.ELF
name_OSDSYS_ITEM_14 = Open PS2 Loader
path1_OSDSYS_ITEM_14 = mc?:/APP_OPL/OPL.ELF
path2_OSDSYS_ITEM_14 = mass:/APPS/APP_OPL/OPL.ELF
name_OSDSYS_ITEM_15 = Open PS2 Loader 0.5.0
path1_OSDSYS_ITEM_15 = mc?:/APP_OPL-050/OPL-050.ELF
path2_OSDSYS_ITEM_15 = mass:/APPS/APP_OPL-050/OPL-050.ELF
name_OSDSYS_ITEM_16 = Open PS2 Loader 0.6.0
path1_OSDSYS_ITEM_16 = mc?:/APP_OPL-060/OPL-060.ELF
path2_OSDSYS_ITEM_16 = mass:/APPS/APP_OPL-060/OPL-060.ELF
name_OSDSYS_ITEM_17 = Open PS2 Loader 0.7.0
path1_OSDSYS_ITEM_17 = mc?:/APP_OPL-070/OPL-070.ELF
path2_OSDSYS_ITEM_17 = mass:/APPS/APP_OPL-070/OPL-070.ELF
name_OSDSYS_ITEM_18 = Open PS2 Loader 0.8.0
path1_OSDSYS_ITEM_18 = mc?:/APP_OPL-080/OPL-080.ELF
path2_OSDSYS_ITEM_18 = mass:/APPS/APP_OPL-080/OPL-080.ELF
name_OSDSYS_ITEM_19 = Open PS2 Loader 0.9.0
path1_OSDSYS_ITEM_19 = mc?:/APP_OPL-090/OPL-090.ELF
path2_OSDSYS_ITEM_19 = mass:/APPS/APP_OPL-090/OPL-090.ELF
name_OSDSYS_ITEM_20 = Open PS2 Loader 0.9.1
path1_OSDSYS_ITEM_20 = mc?:/APP_OPL-091/OPL-091.ELF
path2_OSDSYS_ITEM_20 = mass:/APPS/APP_OPL-091/OPL-091.ELF
name_OSDSYS_ITEM_21 = Open PS2 Loader 0.9.2
path1_OSDSYS_ITEM_21 = mc?:/APP_OPL-092/OPL-092.ELF
path2_OSDSYS_ITEM_21 = mass:/APPS/APP_OPL-092/OPL-092.ELF
name_OSDSYS_ITEM_22 = Open PS2 Loader 0.9.3
path1_OSDSYS_ITEM_22 = mc?:/APP_OPL-093/OPL-093.ELF
path2_OSDSYS_ITEM_22 = mass:/APPS/APP_OPL-093/OPL-093.ELF
name_OSDSYS_ITEM_23 = Open PS2 Loader 1.0.0
path1_OSDSYS_ITEM_23 = mc?:/APP_OPL-100/OPL-100.ELF
path2_OSDSYS_ITEM_23 = mass:/APPS/APP_OPL-100/OPL-100.ELF
name_OSDSYS_ITEM_24 = Open PS2 Loader 1.0.0-rc1
path1_OSDSYS_ITEM_24 = mc?:/APP_OPL-100RC1/OPL-100RC1.ELF
path2_OSDSYS_ITEM_24 = mass:/APPS/APP_OPL-100RC1/OPL-100RC1.ELF
name_OSDSYS_ITEM_25 = Open PS2 Loader 1.1.0
path1_OSDSYS_ITEM_25 = mc?:/APP_OPL-110/OPL-110.ELF
path2_OSDSYS_ITEM_25 = mass:/APPS/APP_OPL-110/OPL-110.ELF
name_OSDSYS_ITEM_26 = Open PS2 Loader 1.2.0Beta-2049
path1_OSDSYS_ITEM_26 = mc?:/APP_OPL-120B2049/OPL-120B2049.ELF
path2_OSDSYS_ITEM_26 = mass:/APPS/APP_OPL-120B2049/OPL-120B2049.ELF
name_OSDSYS_ITEM_27 = Open PS2 Loader 1.2.0Beta-2049 GameID(GID)
path1_OSDSYS_ITEM_27 = mc?:/APP_OPL-120B2049GID/OPL-120B2049GID.ELF
path2_OSDSYS_ITEM_27 = mass:/APPS/APP_OPL-120B2049GID/OPL-120B2049GID.ELF
name_OSDSYS_ITEM_28 = Open PS2 Loader 1.2.0Beta-Latest
path1_OSDSYS_ITEM_28 = mc?:/APP_OPL-LATEST/OPL-LATEST.ELF
path2_OSDSYS_ITEM_28 = mass:/APPS/APP_OPL-LATEST/OPL-LATEST.ELF
name_OSDSYS_ITEM_29 = Simple Media System
path1_OSDSYS_ITEM_29 = mc?:/APP_SMS/SMS.ELF
path2_OSDSYS_ITEM_29 = mass:/APPS/APP_SMS/SMS.ELF
path3_OSDSYS_ITEM_29 = mc?:/SMS/SMS.ELF
name_OSDSYS_ITEM_30 = [Final/Outdated] OPL Tenth Anniversary Daily Build Edition
path1_OSDSYS_ITEM_30 = mc?:/APP_UOPL-DB/UOPL-DB.ELF
path2_OSDSYS_ITEM_30 = mass:/APPS/APP_UOPL-DB/UOPL-DB.ELF
name_OSDSYS_ITEM_31 = Unofficial OPL Grimdoomer Fork
path1_OSDSYS_ITEM_31 = mc?:/APP_UOPL-GD/UOPL-GD.ELF
path2_OSDSYS_ITEM_31 = mass:/APPS/APP_UOPL-GD/UOPL-GD.ELF
name_OSDSYS_ITEM_32 = Unofficial OPL Grimdoomer Fork 1202-Debug
path1_OSDSYS_ITEM_32 = mc?:/APP_UOPL-GD02DBG/UOPL-GD02DBG.ELF
path2_OSDSYS_ITEM_32 = mass:/APPS/APP_UOPL-GD02DBG/UOPL-GD02DBG.ELF
name_OSDSYS_ITEM_33 = Unofficial OPL Grimdoomer Fork 1203-PADEMU
path1_OSDSYS_ITEM_33 = mc?:/APP_UOPL-GD03PAD/UOPL-GD03PAD.ELF
path2_OSDSYS_ITEM_33 = mass:/APPS/APP_UOPL-GD03PAD/UOPL-GD03PAD.ELF
name_OSDSYS_ITEM_34 = Unofficial OPL Grimdoomer Fork 1204-PADEMU
path1_OSDSYS_ITEM_34 = mc?:/APP_UOPL-GD04PAD/UOPL-GD04PAD.ELF
path2_OSDSYS_ITEM_34 = mass:/APPS/APP_UOPL-GD04PAD/UOPL-GD04PAD.ELF
name_OSDSYS_ITEM_35 = Unofficial OPL Grimdoomer Fork 1205-PADEMU
path1_OSDSYS_ITEM_35 = mc?:/APP_UOPL-GD05PAD/UOPL-GD05PAD.ELF
path2_OSDSYS_ITEM_35 = mass:/APPS/APP_UOPL-GD05PAD/UOPL-GD05PAD.ELF
name_OSDSYS_ITEM_36 = Unofficial OPL Grimdoomer Fork 1206-PADEMU
path1_OSDSYS_ITEM_36 = mc?:/APP_UOPL-GD06PAD/UOPL-GD06PAD.ELF
path2_OSDSYS_ITEM_36 = mass:/APPS/APP_UOPL-GD06PAD/UOPL-GD06PAD.ELF
name_OSDSYS_ITEM_37 = Unofficial OPL Grimdoomer Fork-1202
path1_OSDSYS_ITEM_37 = mc?:/APP_UOPL-GD1202/UOPL-GD1202.ELF
path2_OSDSYS_ITEM_37 = mass:/APPS/APP_UOPL-GD1202/UOPL-GD1202.ELF
name_OSDSYS_ITEM_38 = Unofficial OPL Grimdoomer Fork-1203
path1_OSDSYS_ITEM_38 = mc?:/APP_UOPL-GD1203/UOPL-GD1203.ELF
path2_OSDSYS_ITEM_38 = mass:/APPS/APP_UOPL-GD1203/UOPL-GD1203.ELF
name_OSDSYS_ITEM_39 = Unofficial OPL Grimdoomer Fork-1204
path1_OSDSYS_ITEM_39 = mc?:/APP_UOPL-GD1204/UOPL-GD1204.ELF
path2_OSDSYS_ITEM_39 = mass:/APPS/APP_UOPL-GD1204/UOPL-GD1204.ELF
name_OSDSYS_ITEM_40 = Unofficial OPL Grimdoomer Fork-1205
path1_OSDSYS_ITEM_40 = mc?:/APP_UOPL-GD1205/UOPL-GD1205.ELF
path2_OSDSYS_ITEM_40 = mass:/APPS/APP_UOPL-GD1205/UOPL-GD1205.ELF
name_OSDSYS_ITEM_41 = Unofficial OPL Grimdoomer Fork-1206
path1_OSDSYS_ITEM_41 = mc?:/APP_UOPL-GD1206/UOPL-GD1206.ELF
path2_OSDSYS_ITEM_41 = mass:/APPS/APP_UOPL-GD1206/UOPL-GD1206.ELF
name_OSDSYS_ITEM_42 = Unofficial OPL Grimdoomer Fork-PADEMU
path1_OSDSYS_ITEM_42 = mc?:/APP_UOPL-GDPADEMU/UOPL-GDPADEMU.ELF
path2_OSDSYS_ITEM_42 = mass:/APPS/APP_UOPL-GDPADEMU/UOPL-GDPADEMU.ELF
name_OSDSYS_ITEM_43 = Unofficial OPL Grimdoomer Fork UDMA Plus
path1_OSDSYS_ITEM_43 = mc?:/APP_UOPL-GDUDMAPLUS/UOPL-GDUDMAPLUS.ELF
path2_OSDSYS_ITEM_43 = mass:/APPS/APP_UOPL-GDUDMAPLUS/UOPL-GDUDMAPLUS.ELF
name_OSDSYS_ITEM_44 = Unofficial Open PS2 Loader Latest
path1_OSDSYS_ITEM_44 = mc?:/APP_UOPL-KJ/UOPL-KJ.ELF
path2_OSDSYS_ITEM_44 = mass:/APPS/APP_UOPL-KJ/UOPL-KJ.ELF
name_OSDSYS_ITEM_45 = wLaunchELF_isr-DS
path1_OSDSYS_ITEM_45 = mc?:/APP_WLE-DS/WLE-DS.ELF
path2_OSDSYS_ITEM_45 = mass:/APPS/APP_WLE-DS/WLE-DS.ELF
name_OSDSYS_ITEM_46 = wLaunchELF_isr-NN
path1_OSDSYS_ITEM_46 = mc?:/APP_WLE-DSNN/WLE-DSNN.ELF
path2_OSDSYS_ITEM_46 = mass:/APPS/APP_WLE-DSNN/WLE-DSNN.ELF
name_OSDSYS_ITEM_47 = WLaunchELF_isr-EXFAT
path1_OSDSYS_ITEM_47 = mc?:/APP_WLE-EXFAT/WLE-EXFAT.ELF
path2_OSDSYS_ITEM_47 = mass:/APPS/APP_WLE-EXFAT/WLE-EXFAT.ELF
name_OSDSYS_ITEM_48 = wLaunchELF_isr-EXFAT-DS
path1_OSDSYS_ITEM_48 = mc?:/APP_WLE-EXFATDS/WLE-EXFATDS.ELF
path2_OSDSYS_ITEM_48 = mass:/APPS/APP_WLE-EXFATDS/WLE-EXFATDS.ELF
name_OSDSYS_ITEM_49 = wLaunchELF_isr-EXFAT-DS-NN
path1_OSDSYS_ITEM_49 = mc?:/APP_WLE-EXFATDSNN/WLE-EXFATDSNN.ELF
path2_OSDSYS_ITEM_49 = mass:/APPS/APP_WLE-EXFATDSNN/WLE-EXFATDSNN.ELF
name_OSDSYS_ITEM_50 = wLaunchELF_isr-HDD
path1_OSDSYS_ITEM_50 = mc?:/APP_WLE-HDD/WLE-HDD.ELF
path2_OSDSYS_ITEM_50 = mass:/APPS/APP_WLE-HDD/WLE-HDD.ELF
name_OSDSYS_ITEM_51 = wLaunchELF_isr-EXFAT-DS-MX4SIO-NN
path1_OSDSYS_ITEM_51 = mc?:/APP_WLE-ISRA/WLE-ISRA.ELF
path2_OSDSYS_ITEM_51 = mass:/APPS/APP_WLE-ISRA/WLE-ISRA.ELF
name_OSDSYS_ITEM_52 = wLaunchELF_isr-EXFAT-MX4SIO
path1_OSDSYS_ITEM_52 = mc?:/APP_WLE-MX4SIO/WLE-MX4SIO.ELF
path2_OSDSYS_ITEM_52 = mass:/APPS/APP_WLE-MX4SIO/WLE-MX4SIO.ELF
name_OSDSYS_ITEM_53 = wLaunchELF_isr-EXFAT-DS-MX4SIO
path1_OSDSYS_ITEM_53 = mc?:/APP_WLE-MX4SIODS/WLE-MX4SIODS.ELF
path2_OSDSYS_ITEM_53 = mass:/APPS/APP_WLE-MX4SIODS/WLE-MX4SIODS.ELF
name_OSDSYS_ITEM_54 = wLaunchELF_isr-NN
path1_OSDSYS_ITEM_54 = mc?:/APP_WLE-NN/WLE-NN.ELF
path2_OSDSYS_ITEM_54 = mass:/APPS/APP_WLE-NN/WLE-NN.ELF
name_OSDSYS_ITEM_55 = wLaunchELF 4.43a Stable
path1_OSDSYS_ITEM_55 = mc?:/APP_WLE-STABLE/WLE-STABLE.ELF
path2_OSDSYS_ITEM_55 = mass:/APPS/APP_WLE-STABLE/WLE-STABLE.ELF
name_OSDSYS_ITEM_56 = wLaunchELF_kHn for POPStarter
path1_OSDSYS_ITEM_56 = mc?:/APP_WLE-VCD/WLE-VCD.ELF
path2_OSDSYS_ITEM_56 = mass:/APPS/APP_WLE-VCD/WLE-VCD.ELF
name_OSDSYS_ITEM_57 = AthenaEnv Javascript Environment
path1_OSDSYS_ITEM_57 = mc?:/ATHENAENV/AHENAENV.ELF
path2_OSDSYS_ITEM_57 = mass:/APPS/ATHENAENV/AHENAENV.ELF
name_OSDSYS_ITEM_58 = PS2BBL Auto Launcher
path1_OSDSYS_ITEM_58 = mc?:/LDR_PS2BBL/PS2BBL.ELF
path2_OSDSYS_ITEM_58 = mc?:/PS2BBL/PS2BBL.ELF
path3_OSDSYS_ITEM_58 = mc?:/BOOT/BOOT.ELF
name_OSDSYS_ITEM_59 = PS2LINK
path1_OSDSYS_ITEM_59 = mc?:/DBG_PS2LINK/PS2LINK.ELF
path2_OSDSYS_ITEM_59 = mass:/APPS/DBG_PS2LINK/PS2LINK.ELF
name_OSDSYS_ITEM_60 = PS2LINK-External IRX
path1_OSDSYS_ITEM_60 = mc?:/DBG_PS2LINK-EXTRIX/PS2LINK-EXTRIX.ELF
path2_OSDSYS_ITEM_60 = mass:/APPS/DBG_PS2LINK-EXTRIX/PS2LINK-EXTRIX.ELF
name_OSDSYS_ITEM_61 = PS2LINK-Highloading
path1_OSDSYS_ITEM_61 = mc?:/DBG_PS2LINK-HIDING/PS2LINK-HIDING.ELF
path2_OSDSYS_ITEM_61 = mass:/APPS/DBG_PS2LINK-HIDING/PS2LINK-HIDING.ELF
name_OSDSYS_ITEM_62 = PS2LINK-Highloading External IRX
path1_OSDSYS_ITEM_62 = mc?:/DBG_PS2LINK-HIDINGEXTRIX/PS2LINK-HIDINGEXTRIX.ELF
path2_OSDSYS_ITEM_62 = mass:/APPS/DBG_PS2LINK-HIDINGEXTRIX/PS2LINK-HIDINGEXTRIX.ELF
name_OSDSYS_ITEM_63 = DKWDRV PS1 Game Backups Driver
path1_OSDSYS_ITEM_63 = mc?:/DKWDVR/DKWDVR.ELF
path2_OSDSYS_ITEM_63 = mass:/APPS/PS1_DKWDVR/DKWDVR.ELF
path3_OSDSYS_ITEM_63 = mc?:/PS1_DKWDRV/DKWDRV.ELF
name_OSDSYS_ITEM_64 = ESR Patched Disc Launcher-r7a DVD Direct
path1_OSDSYS_ITEM_64 = mc?:/DSC_ESR-R7AVDVDIRECT/ESR-R7ADVDVDIRECT.ELF
path2_OSDSYS_ITEM_64 = mass:/APPS/DSC_ESR-R7AVDVDIRECT/ESR-R7AVDVDIRECT.ELF
name_OSDSYS_ITEM_65 = ESR Patched Disc Launcher-r7a MC
path1_OSDSYS_ITEM_65 = mc?:/DSC_ESR-R7AMC/ESR-R7AMC.ELF
path2_OSDSYS_ITEM_65 = mass:/APPS/DSC_ESR-R7AMC/ESR-R7AMC.ELF
name_OSDSYS_ITEM_66 = ESR Patched Disc Launcher-r7b DVD Direct
path1_OSDSYS_ITEM_66 = mc?:/DSC_ESR-R7BDVDIRECT/ESR-R7BDVDIRECT.ELF
path2_OSDSYS_ITEM_66 = mass:/APPS/DSC_ESR-R7BDVDIRECT/ESR-R7BDVDIRECT.ELF
name_OSDSYS_ITEM_67 = ESR Patched Disc Launcher-r7b MC
path1_OSDSYS_ITEM_67 = mc?:/DSC_ESR-R7BMC/ESR-R7BMC.ELF
path2_OSDSYS_ITEM_67 = mass:/APPS/DSC_ESR-R7BMC/ESR-R7BMC.ELF
name_OSDSYS_ITEM_68 = ESR Patched Disc Launcher- r8a DVD Direct
path1_OSDSYS_ITEM_68 = mc?:/DSC_ESR-R8AVDVDIRECT/ESR-R8AVDVDIRECT.ELF
path2_OSDSYS_ITEM_68 = mass:/APPS/DSC_ESR-R8AVDVDIRECT/ESR-R8AVDVDIRECT.ELF
name_OSDSYS_ITEM_69 = ESR Patched Disc Launcher-r8a DVD Direct Off
path1_OSDSYS_ITEM_69 = mc?:/DSC_ESR-R8AVDVDIRECTOFF/ESR-R8AVDVDIRECTOFF.ELF
path2_OSDSYS_ITEM_69 = mass:/APPS/DSC_ESR-R8AVDVDIRECTOFF/ESR-R8AVDVDIRECTOFF.ELF
name_OSDSYS_ITEM_70 = ESR Patched Disc Launcher-r8b DVD Direct
path1_OSDSYS_ITEM_70 = mc?:/DSC_ESR-R8BDVDIRECT/ESR-R8BDVDIRECT.ELF
path2_OSDSYS_ITEM_70 = mass:/APPS/DSC_ESR-R8BDVDIRECT/ESR-R8BDVDIRECT.ELF
name_OSDSYS_ITEM_71 = ESR Patched Disc Launcher-r8b DVD Direct Off
path1_OSDSYS_ITEM_71 = mc?:/DSC_ESR-R8BDVDIRECTOFF/ESR-R8BDVDIRECTOFF.ELF
path2_OSDSYS_ITEM_71 = mass:/APPS/DSC_ESR-R8BDVDIRECTOFF/ESR-R8BDVDIRECTOFF.ELF
name_OSDSYS_ITEM_72 = ESR Patched Disc Launcher-r9a DVD Direct
path1_OSDSYS_ITEM_72 = mc?:/DSC_ESR-R9AVDVDIRECT/ESR-R9AVDVDIRECT.ELF
path2_OSDSYS_ITEM_72 = mass:/APPS/DSC_ESR-R9AVDVDIRECT/ESR-R9AVDVDIRECT.ELF
name_OSDSYS_ITEM_73 = ESR Patched Disc Launcher-r9a DVD Direct Off
path1_OSDSYS_ITEM_73 = mc?:/DSC_ESR-R9AVDVDIRECTOFF/ESR-R9AVDVDIRECTOFF.ELF
path2_OSDSYS_ITEM_73 = mass:/APPS/DSC_ESR-R9AVDVDIRECTOFF/ESR-R9AVDVDIRECTOFF.ELF
name_OSDSYS_ITEM_74 = ESR Patched Disc Launcher-r9b MC
path1_OSDSYS_ITEM_74 = mc?:/DSC_ESR-R9BMC/ESR-R9BMC.ELF
path2_OSDSYS_ITEM_74 = mass:/APPS/DSC_ESR-R9BMC/ESR-R9BMC.ELF
name_OSDSYS_ITEM_75 = ESR Patched Disc Launcher-r9c DVD Direct
path1_OSDSYS_ITEM_75 = mc?:/DSC_ESR-R9CVDVDIRECT/ESR-R9CVDVDIRECT.ELF
path2_OSDSYS_ITEM_75 = mass:/APPS/DSC_ESR-R9CVDVDIRECT/ESR-R9CVDVDIRECT.ELF
name_OSDSYS_ITEM_76 = ESR Patched Disc Launcher-r9c DVD Direct Off
path1_OSDSYS_ITEM_76 = mc?:/DSC_ESR-R9CVDVDIRECTOFF/ESR-R9CVDVDIRECTOFF.ELF
path2_OSDSYS_ITEM_76 = mass:/APPS/DSC_ESR-R9CVDVDIRECTOFF/ESR-R9CVDVDIRECTOFF.ELF
name_OSDSYS_ITEM_77 = ESR Patched Disc Launcher-r9 DVD Direct
path1_OSDSYS_ITEM_77 = mc?:/DSC_ESR-R9DVDVDIRECT/ESR-R9DVDVDIRECT.ELF
path2_OSDSYS_ITEM_77 = mass:/APPS/DSC_ESR-R9DVDVDIRECT/ESR-R9DVDVDIRECT.ELF
name_OSDSYS_ITEM_78 = ESR Patched Disc Launcher-r9 DVD Direct Off
path1_OSDSYS_ITEM_78 = mc?:/DSC_ESR-R9DVDVDIRECTOFF/ESR-R9DVDVDIRECTOFF.ELF
path2_OSDSYS_ITEM_78 = mass:/APPS/DSC_ESR-R9DVDVDIRECTOFF/ESR-R9DVDVDIRECTOFF.ELF
name_OSDSYS_ITEM_79 = ESR Patched Disc Launcher-r9m
path1_OSDSYS_ITEM_79 = mc?:/DSC_ESR-R9M/ESR-R9M.ELF
path2_OSDSYS_ITEM_79 = mass:/APPS/DSC_ESR-R9M/ESR-R9M.ELF
name_OSDSYS_ITEM_80 = ESR Patched Disc Launcher-r9m DVD Direct
path1_OSDSYS_ITEM_80 = mc?:/DSC_ESR-R9MCDVDIRECT/ESR-R9MCDVDIRECT.ELF
path2_OSDSYS_ITEM_80 = mass:/APPS/DSC_ESR-R9MCDVDIRECT/ESR-R9MCDVDIRECT.ELF
name_OSDSYS_ITEM_81 = ESR Patched Disc Launcher-r9m DVD Direct Off
path1_OSDSYS_ITEM_81 = mc?:/DSC_ESR-R9MCDVDIRECTOFF/ESR-R9MCDVDIRECTOFF.ELF
path2_OSDSYS_ITEM_81 = mass:/APPS/DSC_ESR-R9MCDVDIRECTOFF/ESR-R9MCDVDIRECTOFF.ELF
name_OSDSYS_ITEM_82 = ESR Patched Disc Launcher-r9m DVD Direct Off B
path1_OSDSYS_ITEM_82 = mc?:/DSC_ESR-R9MCDVDIRECTOFFB/ESR-R9MCDVDIRECTOFFB.ELF
path2_OSDSYS_ITEM_82 = mass:/APPS/DSC_ESR-R9MCDVDIRECTOFFB/ESR-R9MCDVDIRECTOFFB.ELF
name_OSDSYS_ITEM_83 = ESR Patched Disc Launcher-r9m DVD Direct Off C
path1_OSDSYS_ITEM_83 = mc?:/DSC_ESR-R9MCDVDIRECTOFFC/ESR-R9MCDVDIRECTOFFC.ELF
path2_OSDSYS_ITEM_83 = mass:/APPS/DSC_ESR-R9MCDVDIRECTOFFC/ESR-R9MCDVDIRECTOFFC.ELF
name_OSDSYS_ITEM_84 = ESR Patched Disc Launcher-r10e MC
path1_OSDSYS_ITEM_84 = mc?:/DSC_ESR-R10EMC/ESR-R10EMC.ELF
path2_OSDSYS_ITEM_84 = mass:/APPS/DSC_ESR-R10EMC/ESR-R10EMC.ELF
name_OSDSYS_ITEM_85 = ESR Patched Disc Launcher-r10e MC Debug
path1_OSDSYS_ITEM_85 = mc?:/DSC_ESR-R10EMCDISCO/ESR-R10EMCDISCO.ELF
path2_OSDSYS_ITEM_85 = mass:/APPS/DSC_ESR-R10EMCDISCO/ESR-R10EMCDISCO.ELF
name_OSDSYS_ITEM_86 = ESR Patched Disc Launcher-r10e MC Direct Debug
path1_OSDSYS_ITEM_86 = mc?:/DSC_ESR-R10EMCDIRECTDISCO/ESR-R10EMCDIRECTDISCO.ELF
path2_OSDSYS_ITEM_86 = mass:/APPS/DSC_ESR-R10EMCDIRECTDISCO/ESR-R10EMCDIRECTDISCO.ELF
name_OSDSYS_ITEM_87 = ESR Patched Disc Launcher-r10e MC Direct Off
path1_OSDSYS_ITEM_87 = mc?:/DSC_ESR-R10EMCDIRECTOFF/ESR-R10EMCDIRECTOFF.ELF
path2_OSDSYS_ITEM_87 = mass:/APPS/DSC_ESR-R10EMCDIRECTOFF/ESR-R10EMCDIRECTOFF.ELF
name_OSDSYS_ITEM_88 = ESR Patched Disc Launcher-r10e MC Direct Off Debug
path1_OSDSYS_ITEM_88 = mc?:/DSC_ESR-R10EMCDIRECTOFFDISCO/ESR-R10EMCDIRECTOFFDISCO.ELF
path2_OSDSYS_ITEM_88 = mass:/APPS/DSC_ESR-R10EMCDIRECTOFFDISCO/ESR-R10EMCDIRECTOFFDISCO.ELF
name_OSDSYS_ITEM_89 = ESR Patched Disc Launcher-r10f MC
path1_OSDSYS_ITEM_89 = mc?:/DSC_ESR-R10FMC/ESR-R10FMC.ELF
path2_OSDSYS_ITEM_89 = mass:/APPS/DSC_ESR-R10FMC/ESR-R10FMC.ELF
name_OSDSYS_ITEM_90 = ESR Patched Disc Launcher-r10f MC Debug
path1_OSDSYS_ITEM_90 = mc?:/DSC_ESR-R10FMCDISCO/ESR-R10FMCDISCO.ELF
path2_OSDSYS_ITEM_90 = mass:/APPS/DSC_ESR-R10FMCDISCO/ESR-R10FMCDISCO.ELF
name_OSDSYS_ITEM_91 = ESR Patched Disc Launcher-r10f DVD Direct
path1_OSDSYS_ITEM_91 = mc?:/DSC_ESR-R10FVDVDIRECT/ESR-R10FVDVDIRECT.ELF
path2_OSDSYS_ITEM_91 = mass:/APPS/DSC_ESR-R10FVDVDIRECT/ESR-R10FVDVDIRECT.ELF
name_OSDSYS_ITEM_92 = ESR Patched Disc Launcher-r10f DVD Direct Debug
path1_OSDSYS_ITEM_92 = mc?:/DSC_ESR-R10FVDVDIRECTDISCO/ESR-R10FVDVDIRECTDISCO.ELF
path2_OSDSYS_ITEM_92 = mass:/APPS/DSC_ESR-R10FVDVDIRECTDISCO/ESR-R10FVDVDIRECTDISCO.ELF
name_OSDSYS_ITEM_93 = ESR Patched Disc Launcher-r10f DVD Direct Off
path1_OSDSYS_ITEM_93 = mc?:/DSC_ESR-R10FVDVDIRECTOFF/ESR-R10FVDVDIRECTOFF.ELF
path2_OSDSYS_ITEM_93 = mass:/APPS/DSC_ESR-R10FVDVDIRECTOFF/ESR-R10FVDVDIRECTOFF.ELF
name_OSDSYS_ITEM_94 = ESR Patched Disc Launcher-r10f DVD Direct Off Debug
path1_OSDSYS_ITEM_94 = mc?:/DSC_ESR-R10FVDVDIRECTOFFDISCO/ESR-R10FVDVDIRECTOFFDISCO.ELF
path2_OSDSYS_ITEM_94 = mass:/APPS/DSC_ESR-R10FVDVDIRECTOFFDISCO/ESR-R10FVDVDIRECTOFFDISCO.ELF
name_OSDSYS_ITEM_95 = Picodrive Sega Emulator
path1_OSDSYS_ITEM_95 = mc?:/EMU_PICODRIVE/PICODRIVE.ELF
path2_OSDSYS_ITEM_95 = mass:/APPS/PICODRIVE/PICODRIVE.ELF
path3_OSDSYS_ITEM_95 = mass:/APPS/EMU_PICODRIVE/PICODRIVE.ELF
name_OSDSYS_ITEM_96 = Picodrive Sega Emulator 200
path1_OSDSYS_ITEM_96 = mc?:/EMU_PICODRIVE-200/PICODRIVE-200.ELF
path2_OSDSYS_ITEM_96 = mass:/APPS/EMU_PICODRIVE-200/PICODRIVE-200.ELF
name_OSDSYS_ITEM_97 = X2P-Xbox2Playstation2 Emulator
path1_OSDSYS_ITEM_97 = mc?:/EMU_X2P/X2P.ELF
path2_OSDSYS_ITEM_97 = mass:/APPS/EMU_X2P/X2P.ELF
name_OSDSYS_ITEM_98 = X2P-Xbox2Playstation2 Emulator Lite
path1_OSDSYS_ITEM_98 = mc?:/EMU_X2PMC/X2PMC.ELF
path2_OSDSYS_ITEM_98 = mass:/APPS/EMU_X2PMC/X2PMC.ELF
name_OSDSYS_ITEM_99 = Enceladus Controller Tester
path1_OSDSYS_ITEM_99 = mc?:/ENC_CONTROLLERS/CONTROLLERS.ELF
path2_OSDSYS_ITEM_99 = mass:/APPS/ENC_CONTROLLERS/CONTROLLERS.ELF
name_OSDSYS_ITEM_100 = Enceladus Hello World LUA Script
path1_OSDSYS_ITEM_100 = mc?:/ENC_HELLOWORLD/HELLOWORLD.ELF
path2_OSDSYS_ITEM_100 = mass:/APPS/ENC_HELLOWORLD/HELLOWORLD.ELF
name_OSDSYS_ITEM_101 = Enceladus LUA Environment
path1_OSDSYS_ITEM_101 = mc?:/ENCELADUS/ENCELADUS.ELF
path2_OSDSYS_ITEM_101 = mass:/APPS/ENCELADUS/ENCELADUS.ELF
name_OSDSYS_ITEM_102 = 3D Pinball Launcher
path1_OSDSYS_ITEM_102 = mc?:/GME_3DPINBALL-PLAYER/3DPINBALL-PLAYER.ELF
path2_OSDSYS_ITEM_102 = mass:/APPS/GME_3DPINBALL-PLAYER/3DPINBALL-PLAYER.ELF
name_OSDSYS_ITEM_103 = Hermes - The Game!
path1_OSDSYS_ITEM_103 = mc?:/GME_HERMES/HERMES.ELF
path2_OSDSYS_ITEM_103 = mass:/APPS/GME_HERMES/HERMES.ELF
name_OSDSYS_ITEM_104 = Super Mario 64 (Packed)
path1_OSDSYS_ITEM_104 = mc?:/GME_SM64-082023-PACKED/SM64-082023-PACKED.ELF
path2_OSDSYS_ITEM_104 = mass:/APPS/GME_SM64-082023-PACKED/SM64-082023-PACKED.ELF
name_OSDSYS_ITEM_105 = Super Mario War
path1_OSDSYS_ITEM_105 = mc?:/GME_SMWAR-20060223/SMWAR-20060223.ELF
path2_OSDSYS_ITEM_105 = mass:/APPS/GME_SMWAR-20060223/SMWAR-20060223.ELF
name_OSDSYS_ITEM_106 = FMCB Decrypted 1.953
path1_OSDSYS_ITEM_106 = mc?:/LDR_FMCB-1.953/FMCB-1.953.ELF
path2_OSDSYS_ITEM_106 = mass:/APPS/LDR_FMCB-1.953/FMCB-1.953.ELF
name_OSDSYS_ITEM_107 = FMCB Decrypted 1.965
path1_OSDSYS_ITEM_107 = mc?:/LDR_FMCB-1.965/FMCB-1.965.ELF
path2_OSDSYS_ITEM_107 = mass:/APPS/LDR_FMCB-1.965/FMCB-1.965.ELF
name_OSDSYS_ITEM_108 = FMCB Decrypted-1.966
path1_OSDSYS_ITEM_108 = mc?:/LDR_FMCB-1.966/FMCB-1.966.ELF
path2_OSDSYS_ITEM_108 = mass:/APPS/LDR_FMCB-1.966/FMCB-1.966.ELF
name_OSDSYS_ITEM_109 = PS2BBL Application Launcher
path1_OSDSYS_ITEM_109 = mc?:/LDR_PS2BBL/PS2BBL.ELF
path2_OSDSYS_ITEM_109 = mass:/APPS/LDR_PS2BBL/PS2BBL.ELF
name_OSDSYS_ITEM_110 = PS2BBL Application Launcher (Packed)
path1_OSDSYS_ITEM_110 = mc?:/LDR_PS2BBL-LITE/PS2BBL-LITE.ELF
path2_OSDSYS_ITEM_110 = mass:/APPS/LDR_PS2BBL-LITE/PS2BBL-LITE.ELF
name_OSDSYS_ITEM_111 = Neutrino: PS2 Game Backup Loader
path1_OSDSYS_ITEM_111 = mc?:/NEUTRINO/neutrino.elf
path2_OSDSYS_ITEM_111 = mass:/APPS/NEUTRINO/neutrino.elf
name_OSDSYS_ITEM_112 = Open PS2 Loader
path1_OSDSYS_ITEM_112 = mc?:/OPL/OPL.ELF
path2_OSDSYS_ITEM_112 = mc?:/OPL/OPNPS2LD.ELF
path3_OSDSYS_ITEM_112 = mass:/OPNPS2LD.ELF
name_OSDSYS_ITEM_113 = Power Off PS2 (Shut Down)
path1_OSDSYS_ITEM_113 = mc?:/POWEROFF/POWEROFF.ELF
path2_OSDSYS_ITEM_113 = mass:/APPS/POWEROFF/POWEROFF.ELF
path3_OSDSYS_ITEM_113 = mc?:/BOOT/POWEROFF.ELF
name_OSDSYS_ITEM_114 = DKWDRV.ELF
path1_OSDSYS_ITEM_114 = mc?:/APPS/DKWDRV.ELF
path2_OSDSYS_ITEM_114 = mass:/APPS/DKWDRV/DKWDRV.ELF
name_OSDSYS_ITEM_115 = POPSLoader GUI for POPStarter PS1 Playback
path1_OSDSYS_ITEM_115 = mc?:/PS1_POPSLOADER/OPSLOADER.ELF
path2_OSDSYS_ITEM_115 = mass:/APPS/PS1_POPSLOADER/OPSLOADER.ELF
name_OSDSYS_ITEM_116 = PS2BBL Application Launcher
path1_OSDSYS_ITEM_116 = mc?:/PS2BBL/PS2BBL.ELF
path2_OSDSYS_ITEM_116 = mass:/APPS/PS2BBL/PS2BBL.ELF
name_OSDSYS_ITEM_117 = AthenaEnv Javascript Environment
path1_OSDSYS_ITEM_117 = mc?:/RTE_ATHENAENV/ATHENAENV.ELF
path2_OSDSYS_ITEM_117 = mass:/APPS/RTE_ATHENAENV/ATHENAENV.ELF
name_OSDSYS_ITEM_118 = Enceladus LUA Environment
path1_OSDSYS_ITEM_118 = mc?:/RTE_ENCELADUS/ENCELADUS.ELF
path2_OSDSYS_ITEM_118 = mass:/APPS/RTE_ENCELADUS/ENCELADUS.ELF
name_OSDSYS_ITEM_119 = Kernel Loader 3
path1_OSDSYS_ITEM_119 = mc?:/RTE_KERNELLD3/KERNELLD3.ELF
path2_OSDSYS_ITEM_119 = mass:/APPS/RTE_KERNELLD3/KERNELLD3.ELF
name_OSDSYS_ITEM_120 = Neutrino: PS2 Game Backup Launcher
path1_OSDSYS_ITEM_120 = mc?:/RTE_NEUTRINO/EUTRINO.ELF
path2_OSDSYS_ITEM_120 = mass:/APPS/RTE_NEUTRINO/EUTRINO.ELF
name_OSDSYS_ITEM_121 = Shut Down PS2 (Power Off)
path1_OSDSYS_ITEM_121 = mc?:/SHUTDOWN/SHUTDOWN.ELF
path2_OSDSYS_ITEM_121 = mass:/APPS/SHUTDOWN/SHUTDOWN.ELF
path3_OSDSYS_ITEM_121 = mc?:/BOOT/SHUTDOWN.ELF
name_OSDSYS_ITEM_122 = Super Mario 64
path1_OSDSYS_ITEM_122 = mc?:/SM64/SM64.ELF
path2_OSDSYS_ITEM_122 = mass:/APPS/SM64/SM64.ELF
path3_OSDSYS_ITEM_122 = mass:/APPS/GME_SM64/SM64.ELF
name_OSDSYS_ITEM_123 = Simple Media System
path1_OSDSYS_ITEM_123 = mc?:/SMS/SMS.ELF
path2_OSDSYS_ITEM_123 = mass:/APPS/SMS/SMS.ELF
path3_OSDSYS_ITEM_123 = mass:/SMS/SMS.ELF
name_OSDSYS_ITEM_124 = FreeMCBoot Configurator
path1_OSDSYS_ITEM_124 = mc?:/SYS_FMCB-CFG/FMCB-CFG.ELF
path2_OSDSYS_ITEM_124 = mass:/APPS/SYS_FMCB-CFG/FMCB-CFG.ELF
name_OSDSYS_ITEM_125 = Return VMC Device to Boot Card
path1_OSDSYS_ITEM_125 = mc?:/SYS_IGR/IGR.ELF
path2_OSDSYS_ITEM_125 = mass:/APPS/SYS_IGR/IGR.ELF
path3_OSDSYS_ITEM_125 = mc?:/BOOT/IGR.ELF
name_OSDSYS_ITEM_126 = Memory Card Annihilator
path1_OSDSYS_ITEM_126 = mc?:/SYS_MCA/MCA.ELF
path2_OSDSYS_ITEM_126 = mass:/APPS/SYS_MCA/MCA.ELF
name_OSDSYS_ITEM_127 = Original Card Tester (OGMC)
path1_OSDSYS_ITEM_127 = mc?:/SYS_OGMC/OGMC.ELF
path2_OSDSYS_ITEM_127 = mass:/APPS/SYS_OGMC/OGMC.ELF
name_OSDSYS_ITEM_128 = Power Off the PS2 (Shut Down)
path1_OSDSYS_ITEM_128 = mc?:/SYS_POWEROFF/POWEROFF.ELF
path2_OSDSYS_ITEM_128 = mass:/APPS/SYS_POWEROFF/POWEROFF.ELF
path3_OSDSYS_ITEM_128 = mc?:/BOOT/POWEROFF.ELF
